@import '~@/assets/styles/mixin.scss';

#app {
  .containerAll {
    height: 100vh;
  }

  .el-aside {
    height: 100%;
    -moz-box-shadow: 2px 0px 6px #4a4a4a;
    -webkit-box-shadow: 2px 0px 6px #4a4a4a;
    box-shadow: 2px 0px 6px #4a4a4a;
    position: fixed;
    left: 0;

    .app-aside {
      height: 100%;
      overflow-x: hidden;
      position: relative;
      padding-top: 60px;
      box-sizing: border-box;

      .logoSite {
        position: absolute;
        top: 0;
        width: 100%;
        height: 60px;
      }

      .menuSite {
        height: 100%;
        overflow-y: auto;
        @include scrollBar;
      }
    }

    .logo {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100px;
      }

      span {
        color: #fff;
        font-weight: bolder;
      }
    }

    .aside-menu {
      border-right: none;

      &.el-menu {
        & li {
          background: #232323 !important;
        }

        & div {
          background: #4b3f3f !important;
        }
      }

      .el-menu-item.is-active {
        background: #108ee9 !important;

        &>div {
          background: #108ee9 !important;
        }
      }

      @at-root .el-menu-item.is-active {
        background: #108ee9 !important;
      }

      &.el-menu--collapse {
        .el-submenu.is-active {
          .el-submenu__title {
            background: #108ee9 !important;
          }

          i {
            color: inherit !important;
          }
        }
      }
    }
  }

  .el-header {
    border-bottom: 1px solid #ddd;
    padding: 0;
  }

  .el-main {
    background: #ececec;
    .app-main{
      background: #fff;
      height: 100%;
      box-sizing: border-box;
      padding: 20px;
    }
  }
}